<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NugetReferencesExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <NugetReferencesExplorer.Properties.Settings>
            <setting name="sourcePath" serializeAs="String">
                <value>c:\gitlab</value>
            </setting>
            <setting name="defaultPackageConfigFilename" serializeAs="String">
                <value>packages.config</value>
            </setting>
            <setting name="officialRepositoryUrl" serializeAs="String">
                <value>https://packages.nuget.org/api/v2</value>
            </setting>
        </NugetReferencesExplorer.Properties.Settings>
    </userSettings>
</configuration>